.eventBoxContainer {
	height: 100%;
	width: 100%!important;
}
.eventBox {
	border-radius: 5px;
	margin-top: 0px;
	padding: 2px;
	margin-left: 2px;
	height: 100%;
	width: 100%;
}

.timeBox {
	display: inline-block;
	border-radius: 5px;
	padding: 1px 3px!important;
	font-size: 10px;
	font-weight: 500;
	margin-right: 5px;
	background-color: #3d5c98;
	color: #fff;
}
.rbc-event-content {
	width: 100%!important;
}
.eventContent {
	display: inline-block;
	font-size: 11px;
	font-weight: 500;
	color: #3d5c98;
}