@import url(https://fonts.googleapis.com/css?family=Righteous);

.logo {
	display: flex;
	gap: 0;
	background-color: #3d5c98;
	box-sizing: border-box;
	align-items: center;
	width: 240px;
	padding-left: 5px;
	border-radius: 0 3px 3px 0;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	z-index: 999;
}

.logo:hover{
	cursor: pointer;
}

.appName{
	display: inline-block;
	color: white;
	font-family: 'Righteous', serif;
	font-size: 32px; 
	text-shadow: .03em .03em 0 #3d5c98;
	width: 100%;
	margin-left: 7px;
	letter-spacing: 2px;
}

.appName:after {
  	content: attr(data-shadow);
  	position: absolute;
  	top: .06em; left: .06em;
  	z-index: -1;
  	text-shadow: none;
  	background-image:
	linear-gradient(
	  45deg,
	  transparent 45%,
	  hsla(48,20%,90%,1) 45%,
	  hsla(48,20%,90%,1) 55%,
	  transparent 0
	  );
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 15s linear infinite;
  }

@keyframes shad-anim {
0% {background-position: 0 0}
0% {background-position: 100% -100%}
}