.accountBox {
	display: flex;
	background-color: #fff;
	width: 200px;
	height: 100%;
	padding-right: 20px;
}

.accountBox:hover {
	background-color: #3d5c9849;
	cursor: pointer;
	font-weight: 700;
}

.avatar {
	display: flex;
  	justify-content: center;
  	align-items: center;
	padding-left: 10px;
}

.infomation {
	padding-left: 10px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.accountName {
	font-weight: 500;
	font-size: 15px;
	color: #000;
}

